%form{:action => "/user/authenticate"}
  First name:
  %br
    %input{:name => "firstname", :type => "text"}
      %br
  Password:
  %br
    %input{:name => "password", :type => "text"}
      %br
  %br
  %input{:type => "Submit", :value => "Submit"}