%form{:name => "user", :action => "/user/create", :method => "post"}
  
  First name:
  %br
  %input{:name => "firstname", :type => "text"}
  %br

  Last Name:
  %br
  %input{:name => "lastname", :type => "text"}
  %br

  Address:
  %br
  %textarea{:name => "email", :type => "text"}
  %br

  City:
  %br
  %input{:name => "city", :type => "text"}
  %br

  State:
  %br
  %input{:name => "state", :type => "text"}
  %br

  Telephone Number:
  %br
  %br
  %input{:name => "tele", :type => "number"}
  %br

  %br
  %input{:type => "Submit", :value => "Save & Continue"}
